{% extends 'customerServiceSupport/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block change_password %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
<div class="login-wrapper">
    <div class="login-logout" style="width: 35rem">
    <h2 class="text-login">CHANGE PASSWORD</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change password" class="submit">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
</div>
</div>
      </div>
    </div>
{% endblock %}
